# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
**/env/
**/venv/
# Wiki is a separate repo
wiki/

# environment variables
.env
.env*

# unused code
frontend/src/views.tailwind
frontend2

# dependencies
node_modules/
.pnp
.pnp.js

# testing
coverage/
.mypy_cache/
.pytest_cache/
*.sqlite
*.sqlite3

# next.js
.next/
out/

# Vite cache
.vite/

# production
build/

# build output
dist/

# misc
.DS_Store
*.pem

# metadata / cache
package-lock.json
yarn.lock
__pycache__/
.docker/

# typescript
*.tsbuildinfo
next-env.d.ts


# Logs, including npm-debug.log*, etc.
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Misc
.DS_Store
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor files
*.swp
*.back
*.vscode
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
