# Postgres database in a container
POSTGRES_USER=dev
POSTGRES_PASSWORD=electric.ity
POSTGRES_DB=homelog

# For SQLAlchemy async version. Hostname is name of Docker container.
# Substitute actual values used in variables above
DATABASE_URL=postgresql+asyncpg://postgres_user:postgres_password@db:5432/postgres_db

# Hashing algorithms to compute signature on JWT
# HS256 = HMAC + SHA256 - Symmetric key algorithm
# RS256 = RSA - Asymmetric
# ES256 = elliptic curve algorithm - Asymmetric, faster than RSA
JWT_ALGORITHM=HS256

# Secret key depends on algorithm used for JWT token hashing.
# For HS256 the secret key is 32-byte random number, written in hex.
# Use Python:  os.urandom(32).hex() or secrets.token_hex(32)
# Or OpenSSL:  openssl rand --hex 32:q
SECRET_KEY=91f3ffde175d083ee0c9463873c9f58ab38247b243a5fc6d0f806f86457cb0ff
# Access token expiry should be short (30 minutes), but use longer during testing
ACCESS_TOKEN_EXPIRE_MINUTES=360

# Python logging threshold level
LOG_LEVEL=INFO

# Initial Grafana admin password, default is "admin". 
# After a password is changed in grafana UI, this has no effect.
GF_SECURITY_ADMIN_PASSWORD=admin@homelog
