# Runtime requirements
-r requirements.txt

# Requirements for testing
aiosqlite
httpx
pytest
pytest-asyncio

# Linting
flake8
flake8-docstrings
# Brutal type checking
mypy

# pre-commit defines and manages Git hooks scripts. See pre-commit.com.
# Configuration is done in the file .pre-commit-config.yaml
# Too much Bloatware! pre-commit installs these packages
# cfgv distlib filelock identify5 nodeenv platformdirs pre-commit virtualenv
# (and requires many others already in my virtual env)
# pre-commit
